:root {
  font-family: "Lexend Tera", sans-serif;
  color: brown;
  text-align: center;
}

body {
  background-color: cornflowerblue;
}

h3 {
  font-size: 26px;
}

header img {
  /* escola */
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

body .container img {
  max-width: 200px;
  max-height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#button1 {
  display: inline-block;
  width: auto;
  margin: auto;
  cursor: pointer;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
}

#button2 {
  display: inline-block;
  width: auto;
  margin: auto;
  cursor: pointer;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
}

.hidden {
  display: none;
}

th:first-child {
  color: white;
}

th:nth-child(6) {
  color: rgb(100, 100, 24);
}

table,
th,
td {
  border: 1px solid black;
  margin: 0 auto;
  padding: 8px;
  width: 20%;
  font-style: italic;
  font-size: 20px;
  color: rgb(2, 1, 59);
}

button {
  margin: 0 auto;
  padding: 8px;
  width: 20%;
  font-size: 18px;
}
